body
  //background-color: #f5f4f3
  background-color: #fff

#controls
  text-align: center

  h4
    text-align: center
    font-size: .8em
    font-weight: bold

#graphSet
  //background-color: #f5f4f3
  background-color: #fff
  margin-top: 3em
  padding-bottom: 2em

#timeDomain
  //background-color: #dedad5
  //background-color: #fff
  background-color: #f5f4f3

  &.panel
    border-color: #4b189e

    .panel-heading
      background-color: #4b189e
      border-color: #4b189e

.graph
  width: 100%
  height: 20em
  padding: 5px
  //background-color: #ebeded
  //background-color: #272727
  //background-color: #4b189e
  //background-color: #fff
  background-color: #f5f4f3

footer
  position: fixed
  bottom: .5em
  right: .5em

